@charset "UTF-8";
body {
  background-color: #070A14;
  margin: 0 auto;
  text-align: center; }

h1 {
  /* Без заплутаних дротів. Без заплутаних ходів. */
  top: 76px;
  font-family: Neue Haas Unica W1G;
  line-height: 52px;
  font-size: 55px;
  text-align: center;
  color: #FFFFFF; }
