@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff"); }

header {
  height: 880px; }

body {
  background-color: #070A14;
  margin: 0 auto;
  text-align: center;
  font-family: Raleway-Regular; }

main img {
  width: 100%;
  position: relative;
  z-index: 10; }

main h1 {
  font-size: 55px;
  line-height: 52px;
  margin: 0 0 140px 0;
  text-align: center;
  color: #FFFFFF; }

main h2 {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 200px;
  color: #FFFFFF; }

main .buttons {
  z-index: 5;
  position: relative;
  margin: 200px 0 42px 0; }
  main .buttons .active {
    background: #498AC9;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 20px rgba(73, 138, 201, 0.4);
            box-shadow: 0px 2px 20px rgba(73, 138, 201, 0.4); }
  main .buttons button {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 14px;
    line-height: 16px;
    background: none;
    color: #498AC9;
    border: 1px solid #498AC9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    main .buttons button:hover {
      background: #498AC9;
      color: #FFFFFF;
      -webkit-box-shadow: 0px 2px 20px rgba(73, 138, 201, 0.4);
              box-shadow: 0px 2px 20px rgba(73, 138, 201, 0.4); }

.laptop_box {
  position: relative; }
  .laptop_box .box1 {
    left: 37.6%;
    top: 48%; }
  .laptop_box .box2 {
    left: 41.7%;
    top: 48%; }
  .laptop_box .box3 {
    left: 46.5%;
    top: 48%; }
  .laptop_box .box4 {
    left: 50.9%;
    top: 48%; }
  .laptop_box .box5 {
    left: 61.7%;
    top: 47%; }
  .laptop_box .box6 {
    left: 67.4%;
    top: 42%; }

.blur {
  position: absolute;
  width: 100%;
  height: 290px;
  top: -50%;
  background: #3F449F;
  opacity: 0.7;
  -webkit-filter: blur(250px);
          filter: blur(250px); }

.dot-line {
  position: absolute;
  z-index: 20; }
  .dot-line .text {
    color: #ffffff;
    position: relative;
    margin: 4px 0 0 0;
    font-size: 11px;
    line-height: 13px;
    z-index: 20;
    opacity: 0;
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    -webkit-transition-delay: 2s;
         -o-transition-delay: 2s;
            transition-delay: 2s; }
  .dot-line .port1 {
    left: -97%; }
  .dot-line .port2 {
    right: 49%; }
  .dot-line .port3 {
    right: 49%; }
  .dot-line .port4 {
    right: 35%; }
  .dot-line .port5 {
    right: 20%; }
  .dot-line .dot {
    width: 3px;
    height: 3px;
    background: #ffffff;
    opacity: 0.5;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    z-index: 20; }
  .dot-line .line {
    width: 1px;
    left: 1px;
    background: #FFFFFF;
    opacity: 0.5;
    position: relative;
    z-index: 20;
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s; }

.left-side .box21 {
  left: 50.3%;
  top: 39%; }
  .left-side .box21 .port21 {
    left: -50%; }

.left-side .box22 {
  left: 54.3%;
  top: 39%; }

.right-side .box31 {
  left: 49.8%;
  top: 42%; }
  .right-side .box31 .port31 {
    left: -100%; }

@media (max-width: 768px) {
  .back-side .blur {
    margin-left: 0;
    left: 0; }
  .back-side .box3 {
    left: 55.1%; }
  .back-side .box4 {
    left: 49.2%;
    top: 51%; }
  main h1 {
    margin: 0 0 54px 0;
    font-size: 42px;
    line-height: 46px; }
  main .buttons button {
    margin: 5px; } }

@media (max-width: 320px) {
  .back-side .dot-line .port2 {
    left: -100%; }
  .back-side .dot-line .port3 {
    right: 0; }
  .back-side .dot-line .port4 {
    left: -100%; }
  .back-side .dot-line .port5 {
    right: 0%;
    text-align: left;
    width: 60%; }
  main h1 {
    font-size: 25px;
    line-height: 23px;
    margin: 0 0 49px 0; }
  main h2 {
    font-size: 22px;
    line-height: 21px; } }
