@font-face
    font-family: "Raleway-Regular"
    src: url("../fonts/Raleway-Regular.woff")

header 
    height: 880px       
body
    background-color: #070A14
    margin: 0 auto
    text-align: center
    font-family: Raleway-Regular

main 

    img
        width: 100%
        position: relative
        z-index: 10
    h1
        font-size: 55px
        margin: 0 0 140px 0
        letter-spacing: 3px
        text-align: center
        color: #FFFFFF
    h2  
        font-size: 28px
        line-height: 30px
        color: #FFFFFF

    .buttons
        z-index: 5
        position: relative
        margin: 200px 0 42px 0
        .active
            background: #498AC9
            color: #FFFFFF
            box-shadow: 0px 2px 20px rgba(73,138,201,0.4)
        button   
            padding: 10px 15px
            margin: 0 5px
            font-size: 14px
            line-height: 16px
            background: none
            color: #498AC9
            border: 1px solid #498AC9
            box-sizing: border-box
            border-radius: 2px
            transition: 1s

            &:hover
                background: #498AC9
                color: #FFFFFF
                box-shadow: 0px 2px 20px rgba(73,138,201,0.4)
.laptop_box
    position: relative
.blur 
    position: absolute
    width: 1126px
    margin-left: -563px
    height: 290px
    left: 50%
    top: -50%
    background: #3F449F
    opacity: 0.7
    filter: blur(250px)

.dot-line
    position: absolute
    z-index: 20
    .dot
        width: 3px
        height: 3px
        background: #ffffff
        opacity: 0.5
        border-radius: 50%
        position: relative
        z-index: 20
    .line
        width: 1px
        left: 1px
        background: #FFFFFF
        opacity: 0.5
        position: relative
        z-index: 20
        transition: 3s
.box1
    left: 37.6%
    top: 48%
.box2
    left: 41.7%
    top: 48%
.box3
    left: 46.5%
    top: 48%
.box4
    left: 50.9%
    top: 48%
.box5
    left: 61.7%
    top: 47%
.box6
    left: 67.4%
    top: 42%
.text
    color: #ffffff
    position: relative
    margin: 4px 0 0 0
    z-index: 20
    opacity: 0
    transition: 3s
    transition-delay: 2s
.port1
    left: -97%
.port2
    right: 49%
.port3
    right: 49%
.port4
    right: 49%
.port5
    right: 49%
.port6

